.heading{
color:#7fff00;
font-size:30px;
width:100%;
margin:0;
}

.heading_div{
    background-color:white;
    padding:10px;
    border-radius:20px;
    float:none;
    font-size:25px;
}

.heading_div2{
    font-size:18px;
}